.body{
	width: auto;
}

/* header start here*/

.header{
	width: auto;
}

.header-top{
	background-color:#7dd9e8;
	width: 100%;
}

.top-wrapper{
	width: 58.625em;
	margin: 0 auto;
/*	padding: 0 33px 0 32px;*/

}
.top-left{
	float: left;
	margin: 20px auto 16px auto;
	width: 61.940298507%;
}
.tutangle-logo-div{
	float: left;
	width: 38.209982788%;

}
.tutangle-logo{
	float: left;
	width: 100%;
/*	height: 49px;*/
}
.input-search{
	float: right;
	margin: 20px auto 10px 24px;
	width: 57.659208262%;
}
.input{	
	float: left;
	width: 71.641791045%;	
	margin-right: 7px;
	padding: 0 25px 0 10px ;
	background-color: transparent;
	border: 0;
	line-height: 20px;
	background-repeat: no-repeat;
	background-image: url("../images/search_input.png");
}
.button{
	float: right;
	width: 15.820895522%;
	border: 0;
	line-height: 20px;	
	background-image: url("../images/search_button.png");
	transition: background-color 0.7s ease;
}
.input:focus , .button:focus{
	outline: none;
}
.button:hover{
	background-image: url("../images/search-btn-hover.png");
}

.top-right{
	margin: 24px 0 23px 0;
/*	width: 15.565031983%;*/
	float: right;
}
.username{
	margin-bottom: 5px;
	/*width: 100%;*/
}
.login{
	/*width: 100%;*/
}
.login li{
	display: inline-block;

}
.login li::after{
	content: "|";
}
.login li:last-child:after{
	content: "";
}
.login li a:hover{
	color: #f5f5f5;
}

.nav{
	width: 100%;
	background-color: #f5f5f5;
}
.nav-wrapper{
	width: 58.625em;
	margin: 0 auto 30px auto;
}
.nav-item{
	float: left;
	width: 44.136460554%;
}

.nav-item li{
	float: left;
	display: inline-block;

}
.nav-item ul{
	
}
.nav-item li:hover{
	background-color: #ffffff;
}
.nav-item li a{
	
	padding: 0 10px 0 9px;
	line-height: 40px;

}

.right-element{
	padding-right: 0;
}

.nav-right{
	float: right;
	line-height: 40px;
	text-align: right;
	width: 32.515991471%;
}
.nav-right ul li{
display: inline;
}

.friend, .box-invites{
	
	background-position: left; 
	background-repeat: no-repeat;
	line-height: 40px;

}
.friend{
	background-image: url("../images/friend_request_inactive.png");
	padding-left: 25px;
}
.friend.active{
	background-image: url("../images/friend_request_active.png");
	padding-left: 25px;
}

.box-invites{
	background-image: url("../images/invite_inactive.png");
	padding-left: 18px;
	margin-right: 31px;
}
.box-invites.active{
	background-image: url("../images/invite_active.png");
	padding-left: 18px;
	margin-right: 31px;
}


/* For header till here*/

/* Body start here pot */
.main-wrapper{
	width: auto;
/*	margin:0 auto;*/
}
.main-wrapper-child{
	width: 58.625em;
	margin: 0 auto;
}

.main-container-wrapper{
	width: 100%;
	background-image: url(../images/body-bg.png);
}

.main{
	float: left;
	width: 78.67803838%;
}

.left-col{
	float: left;
	width: 26.287262873%;
	margin-right: 26px;

}
.menu-top{
	width: 100%;
}
.menu-heading{
	background-color: #2fc1da;
	padding: 0 0 0 12px;
	line-height: 42px;
	width: 93.81443299%;
}
.menu-content-icon li{
	padding: 10px 0px;
	background-color: #f5f5f5;
}
.menu-content-icon li:hover{
	background-color: #ffffff;

}
.side-bar-list{
		/*display: inline-block;*/
		position: relative;
}
.side-bar-list a{
	
}
.side-bar-list span{
	float: left;
	width: 145px;
	padding-left: 12px;
	
}
.side-bar-icon{
	right:14px;
	position: absolute;
	 top: 50%;
	transform: translateY(-50%);
}


.middle{
	float: right;
	width:70.189701897%;


}
.middle-content{
	/*background-image: url("../images/tab-background.png");*/
	background-repeat: no-repeat;
	background-size: 70.189701897% 69px;
	width: 100%;

	

}

.entries{
	margin-bottom: 5px;
	line-height: 26px;
}
.tab-wrapper{
	background-image: url("../images/tab-top.png");
	background-repeat: no-repeat;
	width: 100%;
	background-size: 100% 67px;
}
.tab-box{
	width: 49.806949807%;
}

.super-tab{
	
	width: 100%;
	line-height: 37px;
}

.left{
	float: left;
}

.right{
	float: right;
}
.tab-bottom{
	width: 100%;
}
.tabs-list{
	width: 100%;
}
.tabs-list li{

float: left;
}


.first{
	margin: 0 0 0 10px;

}
.second{
	margin: 0 10px 0 10px;
}

.tab{
	line-height: 20px;
	padding: 6px 0 4px 0;
	background-image: url("../images/tab-inactive.png");
	background-repeat: no-repeat;
	width: 44.186046512%;

}
.tab.active{
	
	background-image: url("../images/tab-active.png");
	background-repeat: no-repeat;
	width: 44.186046512%;

}
.middle-bottom{
	width: 100%;
}
.content{
	width: 100%;
}
.entry-list{
	border-bottom: 1px solid #d8d8d8;
	width: 100%;
}
.single-entry{
	padding: 15px 0;
	width: 97.1042471%;

}
.user-image{

	float: left;
	margin: 0 9px 0 0;
	position: relative;
	top: 0;
	left: 0;
	width: 70px;
	height: 70px;
}
.profile-image{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;

}

.frame{
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;

}
/*img{
	max-height: 100%;
	max-width: 100%;
	display: block;
}*/


.user-image img{
	width: 100%;
	height: 69px;
	z-index: 30;
}

.details{
	/*width: 80.362934363%;*/
	float: left;

}

.details-ulist li{
	float: left;
	padding-right: 2px;
}
.details-ulist li:last-child:after {
 content: "";
  }

  

.details-ulist li::after{
	content: "|";
}
.blue-alert{
	/*width: 100%;*/
}
.right-col{
	width: 18.763326226%;
	float: right;
	margin: 0  0 0  24px;

}

/*body till here*/




.footer{
	width: auto;
	margin: 0 auto;	
	background-color:#727272;
}

.footer-wrapper{
	width:938px;
	margin: 0 32px 0 33px;
	/*display: inline-block;*/

}
.footer-left{
	float: left;
	padding: 0 0 0 2px;
	margin: 19px 0 17px 0 ;
	width: 40.272921109%;

}
.footer-left img{
	padding: 2px 8px;
}
.footer-right{
/*	width: 97px;*/
	float: right;
	padding: 0 5px 0 5px;
	margin: 19px 0 17px 0 ;
	width: 30.272921109%;


}
.footer-list li{
/*	float: left;*/
	display: inline;
	
	
}
.footer-wrapper a{
	transition: color 0.7s ease;
}
.footer-wrapper a:hover{
	color: #000000;	
}
/*.footer-list li:last-child:after {
 content: "";
  }

  

.footer-list li::after{
	content: ".";
	padding: 0 5px;
}*/

.clearfix {
  overflow: auto;
  clear:both;
  content: "";
  display: table;
}

.smallimg{
	width: 10px;
	height: 10px;
}
.mediumimg{
	width: 70px;
	height: 70px;
}
.green{
	color: green;
}
.blue{
	color: skyblue;
}

ul li{
	list-style: none;
}
/**:hover{
	 -webkit-transition-delay: 1s;
}*/
